<div class="border-bottom border-3 border-dark  ">
    <div class="container py-4 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <!-- logo  -->
        <a href="index.html" class="d-flex align-items-center me-md-6">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="logo" class="me-3 logo">
            <h1 class="me-1 d-none d-lg-block">7TAO <h6 class="fs-1 d-none d-lg-block font-noto-serif">活動訂票網</h6></h1>
        </a>
        <!-- search bar -->
        <div class="d-flex me-4">
            <input type="text" class="fs-1 form-control border border-dark border-2 font-noto-sans py-2 py-lg-3 px-2 px-lg-4 " placeholder="探索活動">
            <div class="h-auto bg-dark d-flex justify-content-center align-items-center" style="width: 60px;" >
                <i class="icofont-search-1 text-yellow fs-3"></i>
            </div>
        </div>
    </div>
    <div class="d-md-inline-flex d-none">
        <!-- REGISTER -->
        <a href="#" class="text-primary hover-text-darkYellow me-4">
            <div class="d-inline-flex align-items-center">
                <i class="icofont-ui-file h5 me-1"></i>
                <p class="mb-0 fs-2">REGISTER</p>
            </div>
        </a>
        <!-- LOGIN -->
        <a href="login.html" class="text-primary hover-text-darkYellow">
            <div class="d-inline-flex align-items-center">
                <i class="icofont-ui-user h5 me-1"></i>
                <p class="mb-0 fs-2">LOGIN</p>
            </div>
        </a>
    </div>
    <div class="d-block d-md-none">
        <!-- 漢堡選單 -->
        <input id="nav-toggle" type="checkbox">
        <label for="nav-toggle" class="ham">
            <div class="ham-origin">
                <div class="ham-bar ham-bar--top"></div>
                <div class="ham-bar ham-bar--middle"></div>
                <div class="ham-bar ham-bar--bottom"></div>
            </div>
        </label>
    </div>
    </div>
</div>

