<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO 活動訂票網</title>
  </head>
  <body>
  <%- include('./layout/header'); -%>
  <!-- start index -->
  <!-- start banner -->
  <div class="container p-2 p-md-0 ">
    <div class="d-flex flex-column img-fluid mt-5 justify-content-between mb-6" style="background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true'); height: 518px; background-position: center; background-size: cover;">
      <p class="fs-6 text-white m-6">19 MAY 2023</p>
      <div>
        <h4 class="font-noto-serif text-center mb-3 text-white">隔牆有耳-沒有草東的派對</h4>
        <p class="font-noto-sans text-center text-white mb-4 d-none d-md-block ">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
      </div>
    </div>
  </div>
  <!-- end  banner -->
  <!-- start explore card -->
  <div class="container">
    <div class="row g-2 g-md-3">
      <!-- 1 -->
      <div class="col-4 col-lg-2 ps-md-0">
        <div class="border border-dark border-2">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
          <h4 class="text-center mb-4 font-noto-serif">演出</h4>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-4 col-lg-2">
        <div class="border border-dark border-2">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate02.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
          <h4 class="text-center mb-4 font-noto-serif">聯誼</h4>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-4 col-lg-2">
        <div class="border border-dark border-2">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate03.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
          <h4 class="text-center mb-4 font-noto-serif">展覽</h4>
        </div>
      </div>
      <!-- 4 -->
      <div class="col-4 col-lg-2">
        <div class=" border border-dark border-2 ">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate04.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
          <h4 class="text-center mb-4 font-noto-serif">美食</h4>
        </div>
      </div>
      <!-- 5 -->
      <div class="col-4 col-lg-2">
        <div class="border border-dark border-2">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate05.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
          <h4 class="text-center mb-4 font-noto-serif">戶外</h4>
        </div>
      </div>
      <div class="col-4 col-lg-2 pe-md-0">
        <div class="border border-dark border-2 h-100 bg-primary d-flex align-items-center justify-content-center  ">
          <h4 class="text-center mb-4 font-noto-serif fs-5 text-third">探索<br>更多</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- end  explore card-->
  <!-- start recent activity -->
  <div class="container mt-6 mb-5  border border-3 border-dark">
    <div class="d-flex justify-content-between align-items-center ">
      <h2 class="p-4 fs-7">RECENT</h2>
      <h3 class="me-5">近期活動</h3>
    </div>
  </div>
  <!-- start activity card -->
  <div class="container">
    <div class="row gx-4">
      <!-- 1 -->
      <div class="col-12 col-md-4 mb-6 ps-md-0 py-0">
        <h2 class="mb-2 border-bottom border-dark border-3">19 MAY 2023</h2>
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true" alt="event1" class="event-pic">
        <h3 class="my-2 font-noto-serif">邪典電影派對——房間</h3>
        <p class="font-noto-sans pb-3 border-bottom border-2 border-primary  ">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
        <div class="d-flex justify-content-between align-items-center bottom-0  my-2 border-bottom border-2 border-primary pb-2">
          <div class="d-flex align-items-center align-middle">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="me-1" style="height: 24px;">
            <h6 class="align-middle">社群活動</h6>
          </div>  
          <p>開賣中>></p>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-12 col-md-4 mb-6 py-0">
        <h2 class="mb-2 border-bottom border-dark border-3">23 MAY 2023</h2>
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true" alt="event1" class="event-pic">
        <h3 class="my-2 font-noto-serif">怪舞俱樂部</h3>
        <p class="font-noto-sans pb-3 border-bottom border-2 border-primary  ">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
        <div class="d-flex justify-content-between align-items-center my-2 border-bottom border-2 border-primary pb-2">
          <div class="d-flex align-items-center align-middle">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="me-1" style="height: 24px;">
            <h6 class="align-middle">演出</h6>
          </div>  
          <p>檢視活動>></p>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-12 col-md-4 mb-6 pe-md-0 py-0">
        <h2 class="mb-2 border-bottom border-dark border-3">30 MAY 2023</h2>
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true" alt="event1" class="event-pic">
        <h3 class="my-2 font-noto-serif">哈利波特馬拉松</h3>
        <p class="font-noto-sans pb-3 border-bottom border-2 border-primary  ">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖........</p>
        <div class="d-flex justify-content-between align-items-center my-2 border-bottom border-2 border-primary pb-2">
          <div class="d-flex align-items-center align-middle">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="me-1" style="height: 24px;">
            <h6 class="align-middle">聯誼</h6>
          </div>  
          <p>開賣中>></p>
        </div>
      </div>
      <!-- 4 -->
      <div class="col-12 col-md-4 mb-6 ps-md-0 py-0">
        <h2 class="mb-2 border-bottom border-dark border-3">12 June 2023</h2>
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true" alt="event1" class="event-pic">
        <h3 class="my-2 font-noto-serif">皮卡丘排球大賽</h3>
        <p class="font-noto-sans pb-3 border-bottom border-2 border-primary  ">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
        <div class="d-flex justify-content-between align-items-center my-2 border-bottom border-2 border-primary pb-2">
          <div class="d-flex align-items-center align-middle">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="me-1" style="height: 24px;">
            <h6 class="align-middle">遊戲競賽</h6>
          </div>  
          <p>開賣中>></p>
        </div>
      </div>
      <!-- 5 -->
      <div class="col-12 col-md-4 mb-6 py-0">
        <h2 class="mb-2 border-bottom border-dark border-3">25 June 2023</h2>
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true" alt="event1" class="event-pic">
        <h3 class="my-2 font-noto-serif">酒精路跑</h3>
        <p class="font-noto-sans pb-3 border-bottom border-2 border-primary  ">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
        </p>
        <div class="d-flex justify-content-between align-items-center my-2 border-bottom border-2 border-primary pb-2">
          <div class="d-flex align-items-center align-middle">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="me-1" style="height: 24px;">
            <h6 class="align-middle">社群活動</h6>
          </div>  
          <p>開賣中>></p>
        </div>
      </div>
      <!-- 6 -->
      <div class="col-12 col-md-4 mb-6 pe-md-0 py-0">
        <h2 class="mb-2 border-bottom border-dark border-3">9 July 2023</h2>
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true" alt="event1" class="event-pic">
        <h3 class="my-2 font-noto-serif">展覽——我的房間</h3>
        <p class="font-noto-sans pb-3 border-bottom border-2 border-primary  ">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
        <div class="d-flex justify-content-between align-items-center my-2 border-bottom border-2 border-primary pb-2">
          <div class="d-flex align-items-center align-middle">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="sparkler" class="me-1" style="height: 24px;">
            <h6 class="align-middle">展覽</h6>
          </div>  
          <p>開賣中>></p>
        </div>
      </div>
    </div>
  </div>
  <!-- end activity card -->
  <!-- start online -->
  <!-- online title -->
  <div class="container mt-6 mb-5  border border-3 border-dark">
    <div class="d-flex justify-content-between align-items-center ">
      <h2 class="p-4 fs-7">ONLINE</h2>
      <h3 class="me-5">線上活動</h3>
    </div>
  </div>
  <!-- chatGpt -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/online.jpg?raw=true" alt="online-chatGpt" class="gpt-pic mb-3 mb-md-0">
      </div>
      <div class="col-12 col-md-5 d-flex flex-column">
        <h3 class="font-noto-serif mb-2 ">切特居批踢</h3>
        <ul class="d-flex ps-0 font-noto-serif">
          <li class="cus-btn position-relative border border-1 border-dark me-2"><a href="#" class="my-1 mx-3">競賽</a></li>
          <li class="cus-btn position-relative border border-1 border-dark me-2"><a href="#" class="my-1 mx-3">科技</a></li>
          <li class=" cus-btn position-relative border border-1 border-dark me-2"><a href="#" class="my-1 mx-3">有趣</a></li>
        </ul>
        <p class="mb-3 font-noto-sans">最近網路上很流行的AI程式ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>
          這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
          該讓其他人知道自己使用ChatGPT的姿勢才是最特別的那個了！</p>
        <button type="button" class="align-self-end  w-100 btn btn-primary text-white mt-auto py-3 py-md-2">
          查看活動詳情 >>
        </button>
      </div>
    </div>
  </div>
  <!-- end online -->
  <!-- 活動橫福 -->
  <div class="bg-primary text-center mt-7">
    <p class="fs-4 fw-bold text-third text-nowrap font-noto-sans overflow-hidden py-3 py-lg-4 m-0">
      活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
    </p>
  </div>
  <!-- 活動橫福 -->
  <!-- 活動集 -->
  <div class="container mt-7 mb-7">
    <ul class="row d-flex flex-column flex-md-row align-items-center">
      <!-- 1 -->
      <li class="col-10 col-md-3 mb-6 mb-md-0">
        <div class="h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative border border-dark ">
          <p class="bg-white font-noto-serif px-3 py-2 text-center position-absolute top-0 start-50" style="transform: translate(-50%, -50%)rotate(-4deg);">
            社群活動
          </p>
          <img class="pic mb-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/01.jpg?raw=true" alt="albums-1">
          <h3 class="font-noto-serif">
            <a href="#" class="text-black fs-2 font-noto-serif">
              無聲派對-閉閉嘴
            </a>
          </h3>
        </div>
      </li>
      <!-- 1 -->
      <!-- 2 -->
      <li class="col-10 col-md-3 mb-6 mb-md-0">
        <div class="h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative border border-dark " style="transform: rotate(2deg);">
          <p class="bg-white font-noto-serif px-3 py-2 text-center position-absolute top-0 start-50" style="transform: translate(-50%, -50%)rotate(-3deg);">
            藝文活動
          </p>
          <img class="pic mb-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/02.jpg?raw=true" alt="albums-2">
          <h3 class="font-noto-serif">
            <a href="#" class="text-black fs-2 font-noto-serif">
              拯救老店大作戰
            </a>
          </h3>
        </div>
      </li>
      <!-- 2 -->
      <!-- 3 -->
      <li class="col-10 col-md-3 mb-6 mb-md-0">
        <div class="h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative border border-dark " style="transform: rotate(-2deg);">
          <p class="bg-white font-noto-serif px-3 py-2 text-center position-absolute top-0 start-50" style="transform: translate(-50%, -50%)rotate(4deg);">
            自我覺察
          </p>
          <img class="pic mb-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/03.jpg?raw=true" alt="albums-2">
          <h3 class="font-noto-serif">
            <a href="#" class="text-black fs-2 font-noto-serif">
              內觀修行-部落篇
            </a>
          </h3>
        </div>
      </li>
      <!-- 3 -->
      <!-- 4 -->
      <li class="col-10 col-md-3 mb-6 mb-md-0">
        <div class="h-100 p-3 pb-5 border-2 border-primary bg-transparent position-relative border border-dark " style="transform: rotate(2deg);">
          <p class="bg-white font-noto-serif px-3 py-2 text-center position-absolute top-0 start-50" style="transform: translate(-50%, -50%)rotate(-4deg);">
            聯誼活動
          </p>
          <img class="pic mb-3" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/04.jpg?raw=true" alt="albums-2">
          <h3 class="font-noto-serif">
            <a href="#" class="text-black fs-2 font-noto-serif">
              賞櫻野餐
            </a>
          </h3>
        </div>
      </li>
      <!-- 4 -->
    </ul>
  </div>
  <!-- 活動集 -->
  <!-- 活動橫福 -->
  <div class="bg-primary text-center mt-7">
    <p class="fs-4 fw-bold text-third text-nowrap font-noto-sans overflow-hidden py-3 py-lg-4 m-0">
      ・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・
    </p>
  </div>
  <!-- 活動橫福 -->
  <!-- start follow & subscribe -->
  <div class="pt-7">
    <div class="border-bottom border-3 border-dark ">
        <div class="container">
            <div class="row mb-7">
                <div class="col-12 col-lg-6 p-0 border border-dark border-2">
                    <h2 class="py-3 px-5 font-noto-serif border-bottom border-dark border-2 ">#FOLLOW US</h2>
                    <div>
                        <p class="p-5 font-noto-sans">想第一時間獲得新奇有趣的活動資訊？<br>追蹤我們的社群吧！<br>也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                        <ul className="icofont-ul px-5">
                            <li class="font-noto-sans mb-3"><span class="icofont-ui-email me-4 bg-black text-light p-2"></span>7tao.event@gmail.com</li>
                            <li class="font-noto-sans mb-3"><span class="icofont-phone me-4 bg-black text-light p-2"></span>09123123123</li>
                            <li class="font-noto-sans mb-3"><span class="icofont-facebook me-4 bg-black text-light p-2"></span>7TAO七逃</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0 border border-dark border-2 d-flex flex-column position-relative">
                    <h2 class="py-3 px-5 font-noto-serif border-bottom border-dark  border-2">#SUBSCRIBE US</h2>
                    <p class="p-5 font-noto-sans">訂閱電子報送折價券！<br>定期精選文章資訊及最新優惠資訊，<br>還不通通給我訂閱起來？</p>
                    <input type="email" class="form-control border-dark border-2 font-noto-sans py-2 w-75 ms-5 mb-3" placeholder="輸入Email">
                    <button class="btn btn-primary mt-auto w-100">
                        <span class="me-4">確認訂閱</span>
                        <i class="icofont-rounded-double-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <h3 class="text-center mt-lg-7 mt-6 mb-lg-3 font-noto-serif">此刻打盹，你將做夢；此刻學習，你將圓夢</h3>
            <p class="text-center mb-lg-7 mb-6 font-noto-serif">——我也不知道誰說的</p>
        </div>
    </div>
</div>
  <!-- end follow & subscribe -->
  <!-- end index -->
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
