<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO 活動訂票網</title>
  </head>
  <body>
  <%- include('./layout/header'); -%>
  <!-- start index -->
  <!-- start banner -->
  <div class="container p-0">
    <div class="d-flex flex-column img-fluid mt-5 justify-content-between mb-6" style="background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true'); height: 518px; background-position: center; background-size: cover;">
      <p class="fs-6 text-white m-6">19 MAY 2023</p>
      <div>
        <h4 class="font-noto-serif text-center mb-3 text-white">隔牆有耳-沒有草東的派對</h4>
        <p class="font-noto-sans text-center text-white mb-4 ">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
      </div>
    </div>
  </div>
  <!-- end  banner -->
  <!-- start explore card -->
  <div class="container">
    <div class="row g-2 g-lg-4">
      <div class="col-4 col-lg-2 border border-dark border-2">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
        <h4 class="text-center mb-4 font-noto-serif">演出</h4>
      </div>
      <div class="col-4 col-lg-2 border border-dark border-2 ">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate02.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
        <h4 class="text-center mb-4 font-noto-serif">聯誼</h4>
      </div>
      <div class="col-4 col-lg-2 border border-dark border-2 ">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate03.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
        <h4 class="text-center mb-4 font-noto-serif">展覽</h4>
      </div>
      <div class="col-4 col-lg-2 border border-dark border-2 ">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate04.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
        <h4 class="text-center mb-4 font-noto-serif">美食</h4>
      </div>
      <div class="col-4 col-lg-2 border border-dark border-2 ">
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate05.svg" alt="演出" style="height: 80px;" class="mx-auto mt-4 mb-1 d-block ">
        <h4 class="text-center mb-4 font-noto-serif">戶外</h4>
      </div>
      <div class="col-4 col-lg-2"></div>
    </div>
  </div>
  <!-- end  explore card-->
  <!-- end index -->
  <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
